swagger: '2.0'
info:
  version: "1.1.0"
  title: ZXInfo API
  description: |
    This is an API for the ZXInfo search engine based on elasticsearch. See web-site at http://sinclair.kolbeck.dk
    
    **History**:
    
    v1.1.0: 05-2017
    
    Added /group

    Removed /screens/loading
    
    v1.0.1:
    
    Added /games
    
    Added /screens/loading
    
  contact:
    name: ZXInfo API development
    email: zxinfo_dev@klaptorsk.dk
    url: http://incubator.kolbeck.dk
host: incubator.kolbeck.dk
basePath: /api/zxinfo
tags:
- name: "zxgame"
  description: "Everything about ZX Sinclair Spectrum games"
  externalDocs:
    description: "Find out more"
    url: "http://incubator.kolbeck.dk/sinclairsite"
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  game-id:
    name: game-id
    in: path
    description: The game identifier number
    type: string
    required: true
    
paths:

  /games/search/{query-string}:
    get:
      summary: Search for games
      description: |
        Search the ZXInfo database for {query-string}.
        Matches {query-string} against the following fields in index:
        * fulltitle
        * alsoknownas
        * re-released as title
      tags:
      - "zxgame"
      parameters:
        - name: query-string
          in: path
          description: Specifies the string to search for
          required: true
          type: string
        - name: size
          in: query
          description: Specifies the page size for pagination
          required: false
          type: integer
        - name: offset
          in: query
          description: Specifies the page offset for pagination
          required: false
          type: integer
      responses:
        # Response code
        200:
          description: |
            An array of games. Adds *X-Total-Count* to reponse header.

  /games:
    get:
      summary: Get all games
      tags:
      - "zxgame"
      description: |
        Get list of all games in the database sorted by game-id. Optional specify a specific game type or machine type.
      parameters:
        - name: "types"
          in: "query"
          description: "Optional list of game types for server side filtering"
          required: false
          type: "string"
          format: "type1+type2+..."
        - name: "machines"
          in: "query"
          description: "Optional list of machine types for server side filtering"
          required: false
          type: "string"
          format: "machine1+machine2+..."
      responses:
        # Response code
        200:
          description: |
            An array of games. Adds *X-Total-Count* to reponse header.

  /games/{game-id}:
    get:
      summary: Get game info
      tags:
      - "zxgame"
      description: |
        Get detailed information about a game. The {game-id} is the same as the {id} used on WOS, e.g. [id=0002259](www.worldofspectrum.org/infoseekid.cgi?id=0002259)
      parameters:
        - $ref: '#/parameters/game-id'
          in: header
          description: API key for access
          required: false
          type: string
      responses:
        # Response code
        200:
          description: JSON document with details

  /publishers/{publisher-name}/games:
    get:
      summary: Search for games by publisher
      description: |
        List games by publisher. Matches {publisher-name} against the following fields in index:
        * publisher.name
        * rereleasedby.name
        * authors.author
        * authors.group
        
        Sorts output by year of release, full title
      tags:
      - "zxgame"
      parameters:
        - name: publisher-name
          in: path
          description: Specifies name of publisher to lookup
          required: true
          type: string
        - name: size
          in: query
          description: Specifies the page size for pagination
          required: false
          type: integer
        - name: offset
          in: query
          description: Specifies the page offset for pagination
          required: false
          type: integer
      responses:
        # Response code
        200:
          description: |
            An array of games. Adds *X-Total-Count* to reponse header.

  /publishers/{publisher-name}/games/{game-title}:
    get:
      summary: Get info for game by publisher
      description: |
        Get detailed information about a game for a specific publisher. 
      tags:
      - "zxgame"
      parameters:
        - name: game-title
          in: path
          description: Specifies title to lookup
          required: true
          type: string
        - name: publisher-name
          in: path
          description: Specifies name of publisher to lookup
          required: true
          type: string
      responses:
        # Response code
        200:
          description: JSON document with details
          
  /group/{group-type}/{group-name}/games:
    get:
      summary: Get game list for a group
      description: |
        Search games beloning to a specific group.
      tags:
      - "zxgame"
      parameters:
        - name: group-type
          in: path
          description: Specifies group type (C,F,M,N,S,T,U) - see ZXDB for documentation
          required: true
          type: string
        - name: group-name
          in: path
          description: Specifies name of group
          required: true
          type: string
      responses:
        # Response code
        200:
          description: |
            An array of games. Adds *X-Total-Count* to reponse header.
