swagger: '2.0'
info:
  version: "1.3.0"
  title: ZXInfo API
  description: |
    Welcome to the world's (probaly) greatest Sinclair API!.

    This ZXDB based API is a tool to help developers everywhere create amazing and incredible web sites and apps using data from the 40-plus years area of Sinclair home computers (and clones).
    
    **Ready** to get started?
    
    This is the short version of what you need to do:
    * Be a good API citizen, read and understand how to use the API
    * Keep in touch: tell us about what you're building and talk to other developers
    * Build cool stuff
    
    The ZXInfo API is also the backend for the web site http://zxinfo.dk
    
    Remember that the ZXInfo API suite and portal is an evolving project, developed by dedicated people in their spare time. To the extent that it is possible, we will try to limit any modifications which cause backwards incompatible changes to applications.
    
    Most communication will occur on the community forum on https://spectrumcomputing.co.uk/forums/
    
  contact:
    name: ZXInfo API development
    email: zxinfo_dev@kolbeck.dk
host: api.zxinfo.dk
basePath: /api/zxinfo
tags:
- name: "zxinfo"
  description: "(Almost) Everything about Sinclair-related material including software, hardware, books, magazines, etc."
  externalDocs:
    description: "Find out more"
    url: "http://zxinfo.dk"
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
 
  /v2/search:
    get:
      tags:
      - "zxinfo"
      summary: "General search for entries"
      description: |
        Returns a List of entries matching input filters.
        
        The search will match input in the following document properties:
          * fulltitle
          * re-released title
          * publisher
          * author, alias and group
        
        Additional options can be specified to futher narrow down search.
      
      operationId: "searchAndFilter"
      produces:
      - "application/json"
      parameters:
      - name: "query"
        in: query
        description: "something to query for"
        type: string
        required: false
      - name: mode
        in: query
        description: Specifies if returned JSON should be 'compact' or 'full'
        required: false
        default: "compact"
        type: string
      - name: sort
        in: query
        description: Specifies sorting mode. Can be on of title_asc, title_desc, date_asc or date_desc.
        required: false
        default: "date_desc"
        type: string
      - name: "contenttype"
        in: query
        description: "Filter by contenttype: SOFTWARE, HARDWARE, BOOK"
        type: string
        required: false
      - name: "language"
        in: query
        description: "Filter by language: English, Spanish, ..."
        type: string
        required: false
      - name: "year"
        in: query
        description: "Filter by year of release"
        type: string
        required: false
      - name: "genretype"
        in: query
        description: "Filter by genretype, e.g. 'Arcade Game'"
        type: string
        required: false
      - name: "genresubtype"
        in: query
        description: "Filter by genresubtype, e.g. 'Action'"
        type: string
        required: false
      - name: "machinetype"
        in: query
        description: "Filter by machinetype, e.g. 'ZX-Spectrum 48K'"
        type: string
        required: false
      - name: "controls"
        in: query
        description: "Filter by controls, e.g. 'Kempston'"
        type: string
        required: false
      - name: "multiplayermode"
        in: query
        description: "Filter by multiplayermode, e.g. 'Turn based'"
        type: string
        required: false
      - name: "multiplayertype"
        in: query
        description: "Filter by multiplayertype, e.g. 'Versus'"
        type: string
        required: false
      - name: "originalpublication"
        in: query
        description: "Filter by originalpublication, e.g. 'Type-in'"
        type: string
        required: false
      - name: "availability"
        in: query
        description: "Filter by availability, e.g. 'Never released'"
        type: string
        required: false
      - name: "group"
        in: query
        description: "Filter by group. See ZXDB documentation"
        type: string
        required: false
      - name: "groupname"
        in: query
        description: "Filter by groupname. See ZXDB documentation"
        type: string
        required: false
      - name: size
        in: query
        description: Specifies the page size for pagination. If used in combination with offset=random, max value allowed is 10.
        required: true
        type: integer
      - name: offset
        in: query
        description: Specifies the page offset for pagination. If 'random' used in combination with size to fetct random documents.
        required: true
        type: integer
      responses:
        # Response code
        200:
          description: "successful operation, JSON document with details"

  /games/{game-id}:
    get:
      tags:
      - "zxinfo"
      summary: "Fetches a single entry by id"
      description: |
        This method fetches a single entry resource. It is the canonical URI for any entry resource provided by the API. Can be shared on e.g. facebook for a direct link to an entry
        
      operationId: "getGameById"
      produces:
      - "application/json"
      parameters:
      - name: "game-id"
        in: path
        description: An entry id (WoS compatible, e.g. 0002259), left padded with 0's if less than 7 digits.
        type: string
        required: true
      - name: mode
        in: query
        description: Specifies if returned JSON should be 'compact' or 'full'
        required: false
        default: "compact"
        type: string
      responses:
        # Response code
        200:
          description: OK
        400:
          description: Bad request. Entry id must be an integer. larger than 0 and max 7 digits.
        404:
          description: An entry with the specified ID was not found.

  /publishers/{publisher-name}/games:
    get:
      summary: "Fetches list of entries filtered by publisher"
      description: |
        Fetches list of entries from a specific publisher, including:
        * publisher.name
        * releases.publisher.name
        * authors.authors.name
        * authors.group
        
        Sorts output by year of release, fulltitle
      tags:
      - "zxinfo"
      parameters:
        - name: publisher-name
          in: path
          description: Specifies name of publisher to lookup
          required: true
          type: string
        - name: size
          in: query
          description: Specifies the page size for pagination
          required: true
          type: integer
        - name: offset
          in: query
          description: Specifies the page offset for pagination
          required: true
          type: integer
      responses:
        # Response code
        200:
          description: |
            An array of games. Adds *X-Total-Count* to reponse header.

  /publishers/{publisher-name}/games/{game-title}:
    get:
      summary: Fetches entry by publisher with title
      description: Returns a single game
      tags:
      - "zxinfo"
      parameters:
        - name: publisher-name
          in: path
          description: Publisher or author to query
          required: true
          type: string
        - name: game-title
          in: path
          description: Title to query
          required: true
          type: string
      responses:
        # Response code
        200:
          description: "successful operation, JSON document with details"
          
  /group/{group-type}/{group-name}/games:
    get:
      summary: "Find games by group"
      description: |
        Returns list of games for a group.
      tags:
      - "zxinfo"
      parameters:
        - name: group-type
          in: path
          description: Specifies group type (C,F,M,N,S,T,U) - see ZXDB for documentation
          required: true
          type: string
        - name: group-name
          in: path
          description: Specifies name of group
          required: true
          type: string
        - name: size
          in: query
          description: Specifies the page size for pagination
          required: true
          type: integer
        - name: offset
          in: query
          description: Specifies the page offset for pagination
          required: true
          type: integer
      responses:
        # Response code
        200:
          description: |
            An array of games. Adds *X-Total-Count* to reponse header.

